.container{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.container .form{
    background-color: #f3faf3;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
}

.container .form .fecha,
.container .form .prescripcion,
.container .form .lugar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.container .form label {
    width: 35%;
    text-align: right;
    padding-right: 10px;
}

.container .form select {
    width: 60%;
    padding: 5px;
    text-align: left;
}

.container .form input{
    width: 58%;
    padding: 3px;
    text-align: left;
}



.container .form button{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}