.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .map {
  width: 80%;       /* o 100% si prefieres */
  height: 300px;    /* define altura explícita */
  margin-top: 5px;

}


