.tabs-panel{
    height: 90vh;
}

.tabs-panel .tabs-header{
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.tabs-panel .tabs-header button{
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    border: none;
    transition: background-color 0.2s;
    cursor: pointer;
}


.tabs-panel .tabs-header button:active {
    background-color: #b3d4fc;
}

.tabs-panel .tabs-contenido{
    
    padding: 20px;
    overflow-y: auto; /* Permite el desplazamiento vertical si el contenido es demasiado largo */
}