.principal {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.principal .izq { 
    width: 30%;
    height: 70%;
    padding: 20px;

}

.principal .separador
{
    width: 1px;
    background-color: #ccc;
    height: 85%;
}
.principal .der { 
    width: 70%;
    height: 70%;
    padding: 20px;
    
}
.principal .der p{
        font-size: 25px;
    }